#social-media-expositor {
    display: flex;
    flex-direction: column;
    font-family: 'oswald', sans-serif;
    text-align: center;
    color: rgb( 40,90,91);
    padding-top: 30vh;
}

#social-media-expositor h2 {
    font-weight: 400;
    font-size: 2.8vw;
    margin-bottom: 1vw;
}

#social-media-expositor p {
    font-family: 'roboto', sans-serif;
    font-size: 1.6vw;
    font-weight: 400;
    letter-spacing: 0.2vw;
    margin-bottom: 4vw;
}

#social-media-expositor ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 88%;
    height: 96vh;
    margin: auto;
    justify-content: space-between;
}

#social-media-expositor img {
    height: auto;
    width: 17.4vw;
}

#social-media-expositor li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#social-media-expositor li::before {
    position: absolute;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "@wix: #wix, #website, #freewebsite, #websitetemplate, #wix.com";
    width: 17.4vw;
    height: 17.4vw;
    background-color: rgba(0, 0, 0, 0);
    font-size: 2vw;
    font-family: 'roboto', sans-serif;
    line-height: 1.8vw;
}

#social-media-expositor li:hover::before {
    animation: appear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes appear {
    0% {
        background-color: rgb( 40,90,91, 0);;
        color: transparent;
    }
    100% {
        background-color: rgb( 40,90,91, .4);;
        color:white;
    }
}